.mainContainer {
  margin: 1em;
  font-size: 100%;
  border: 1px solid lightgray;
  background-color: rgb(240, 246, 248);
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.deltaInput {
  text-align: right;
}

.delta {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.rowItem {
  margin-top: 2em;
  border-top: 1px solid lightgray;
  padding-top: 1em;
}

.topTitle {
  font-size: 120%;
  font-weight: bold;
}

.secondaryInstructions {
  color: grey;
  font-size: 90%;
}

.displayBox {
  margin: .5em;
}

.seeMe {
  border: 1px solid rgb(220, 245, 253);
}

.alternateContainer {
  display: flex;
  flex-direction: row;
}

.rowItem {
  margin-top: 1em;
}